repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.12.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: [--fix]

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.408
    hooks:
      - id: pyright

  - repo: local
    hooks:
      - id: cargo
        name: cargo test
        entry: cargo test
        language: system
        files: ^*\.rs$
        pass_filenames: false

      - id: clippy
        name: clippy
        entry: cargo clippy
        language: system
        files: ^*\.rs$
        pass_filenames: false
