repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.12.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: [--fix]

  - repo: local
    hooks:
      - id: cargo
        name: cargo test
        entry: cargo test --manifest-path tests/Cargo.toml
        language: system
        files: ^(src|tests)/.*\.rs$
        pass_filenames: false

      - id: clippy
        name: clippy
        entry: cargo clippy
        language: system
        files: \.rs$
        pass_filenames: false

      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        files: \.py$
        pass_filenames: false
