[profile.release]
codegen-units = 1
lto = "fat"
panic = "abort"
strip = "symbols"

[package]
name = "gxhash-py"
version = "0.2.5"
edition = "2024"

[lib]
name = "gxhash"
crate-type = ["cdylib"]

[features]
hybrid = ["gxhash/hybrid"]

[dependencies.pyo3]
version = "0.27.1"
default-features = false
features = ["macros"]

[dependencies.pyo3-async-runtimes]
version = "0.27.0"
default-features = false
features = ["tokio-runtime"]

[dependencies.gxhash]
version = "3.5.0"
default-features = false

[dependencies.tokio]
version = "1.44.1"
default-features = false

[build-dependencies.pyo3-build-config]
version = "0.27.1"
default-features = false
features = ["resolve-config"]
