{% for entry in tree %}
## [{{ entry.version }}]

Released on {{ entry.date }}
{% for change_key, changes in entry.changes.items() %}

{% if change_key %}
### {{ change_key }}

{% for change in changes %}
- {{ change.message }}{{ " (" ~ change.sha1[:7] ~ ")" if "(#" not in change.message else "" }}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
