BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: OnePerLine
BreakBeforeTernaryOperators: true
ColumnLimit: 120
InsertBraces: true
IndentWidth: 4
PenaltyReturnTypeOnItsOwnLine: 1000
