name: Benchmark

on: [workflow_dispatch]

permissions:
  contents: write

env:
  UV_LOCKED: 1
  UV_NO_DEV: 1
  UV_PROJECT: ${{ github.workspace }}/benchmark
  MATURIN_PEP517_ARGS: --features hybrid
  WIKI_PATH: wiki

jobs:
  benchmark:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.WIKI_PATH }}/resources

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
        with:
          show-progress: false

      - name: Checkout wiki
        uses: actions/checkout@v6.0.2
        with:
          show-progress: false
          repository: ${{ github.repository }}.wiki
          path: ${{ env.WIKI_PATH }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7.3.0

      - name: Generate benchmark results
        run: uv run bench

      - name: Install fonts
        run: sudo apt install -y fonts-roboto

      - name: Generate plots
        run: cargo run --locked --manifest-path ${{ env.UV_PROJECT }}/Cargo.toml

      - name: Set Git config
        run: |
          git config user.email github-actions[bot]@users.noreply.github.com
          git config user.name github-actions[bot]

      - name: Commit changes
        run: |
          git add *.png
          git commit -m "chore: update benchmarks"
          git pull --autostash --rebase
          git push
