name: Benchmark

on: [workflow_dispatch]

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  UV_LOCKED: 1
  UV_NO_DEV: 1
  UV_PROJECT: ${{ github.workspace }}/bench
  WIKI_PATH: wiki
  PYTHONDONTWRITEBYTECODE: 1
  PYTHONOPTIMIZE: 2
  PYTHONMALLOC: mimalloc

jobs:
  benchmark:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.WIKI_PATH }}/resources

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
        with:
          show-progress: false

      - name: Checkout wiki
        uses: actions/checkout@v6.0.2
        with:
          show-progress: false
          repository: ${{ github.repository }}.wiki
          path: ${{ env.WIKI_PATH }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7.3.1

      - name: Install Python dependenc(ies)
        run: uv sync

      - name: Generate benchmark results
        run: sudo -E nice -n -20 ionice -c 1 -n 0 $(which uv) run bench

      - name: Generate plots
        run: cargo run --locked --manifest-path ${{ env.UV_PROJECT }}/Cargo.toml

      - name: Generate benchmark results with VAES
        run: sudo -E nice -n -20 ionice -c 1 -n 0 $(which uv) run --reinstall bench
        env:
          MATURIN_PEP517_ARGS: --features hybrid

      - name: Generate plots
        run: cargo run --locked --manifest-path ${{ env.UV_PROJECT }}/Cargo.toml -- vaes

      - name: Set Git config
        run: |
          git config user.email github-actions[bot]@users.noreply.github.com
          git config user.name github-actions[bot]

      - name: Commit changes
        run: |
          git add *.svg
          git commit -m "chore: update benchmarks"
          git pull --autostash --rebase
          git push
