name: Benchmark

on: [workflow_dispatch]

jobs:
  benchmark:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: bench

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
        with:
          show-progress: false

      - name: Setup Rust
        run: |
          rustup default nightly
          rustup update

      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.1

      - name: Generate benchmark results
        run: uv run bench
        env:
          UV_LOCKED: 1
          UV_NO_DEV: 1
          MATURIN_PEP517_ARGS: --features hybrid

      - name: Install fonts
        run: sudo apt install -y fonts-roboto

      - name: Generate plots
        run: cargo run --locked

      - name: Upload artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: plots
          path: bench/*.png

  upload:
    needs: benchmark
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout wiki
        uses: actions/checkout@v6.0.2
        with:
          show-progress: false
          repository: ${{ github.repository }}.wiki

      - name: Download artifact
        uses: actions/download-artifact@v7.0.0
        with:
          pattern: plots
          path: resources/
          merge-multiple: true

      - name: Set Git config
        run: |
          git config user.email github-actions[bot]@users.noreply.github.com
          git config user.name github-actions[bot]

      - name: Commit changes
        run: |
          git add .
          git commit -m "chore: update benchmarks"
          git pull --autostash --rebase
          git push
