name: CodSpeed

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: "-C target-feature=+aes,+sse2"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          show-progress: false

      - name: Setup Rust toolchain
        run: |
          rustup default stable
          rustup update stable

      - name: Install cargo-codspeed
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-codspeed@4.3.0

      - name: Build the benchmark target(s)
        run: cargo codspeed build

      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          run: cargo codspeed run
