name: Build

on:
  pull_request:
  push:
    paths:
      - .github/workflows/main.yml
      - uv.lock
      - pyproject.toml
      - Cargo.toml
      - Cargo.lock
      - "**.rs"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  install:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        python-version:
          - 3.8
          - 3.9
          - "3.10"
          - 3.11
          - pypy3.11
          - 3.12
          - 3.13
          - 3.13t
          - 3.14
          - 3.14t
        runs-on:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - macos-15-intel
          - windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          show-progress: false

      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.0
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: true
          cache-dependency-glob: "**/uv.lock"

      - name: Install project
        run: uv pip install .

  test:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        python-version:
          - 3.8
          - 3.9
          - "3.10"
          - 3.11
          - 3.12
          - 3.13
          - 3.13t
          - 3.14
          - 3.14t
        runs-on:
          - ubuntu-latest
          - macos-15-intel
          - windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          show-progress: false

      - name: Cache Cargo
        uses: actions/cache@v5.0.1
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Setup Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup Rust
        run: |
          rustup default nightly
          rustup update nightly

      - name: Test
        run: cargo test

  coverage:
    needs: [install, test]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          show-progress: false

      - name: Setup Rust
        run: |
          rustup default nightly
          rustup update nightly

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Generate code coverage
        run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: true
