name: Publish

on:
  release:
    types: published

permissions:
  contents: write
  id-token: write

env:
  UV_ISOLATED: 1
  PYTHONDONTWRITEBYTECODE: 1

jobs:
  publish:
    runs-on: ubuntu-slim
    environment:
      name: pypi

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
        with:
          ref: ${{ github.event.release.tag_name }}
          show-progress: false

      - name: Install uv
        uses: astral-sh/setup-uv@v7.3.1

      - name: Build sdist
        run: uv build -v --sdist

      - name: Smoke test
        run: uv run -v --no-project --with dist/gxhash-*.tar.gz tests/test_smoke.py

      - name: Publish to PyPI
        run: uv publish

      - name: Undo release
        if: failure()
        run: gh release delete ${{ github.event.release.tag_name }} -y --cleanup-tag
        env:
          GH_TOKEN: ${{ github.token }}
